body{
  margin: 0px;
}

.literally.toolbar-at-top{
  height: 100vh;
}

#simulations{
  display: none;
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
}

#defaultCanvas0{
  position: absolute;
  top: 120px;
  left: 200px;
  border: 1px solid grey;
}

.qs_main{
  z-index: 9 !important;
  left: 87px;
  top: 489px;
}

#drag{
  position: absolute;
  top: 5px;
  right: 260px;
  z-index: 1;
}

#interact{
  position: absolute;
  top: 5px;
  right: 330px;
  z-index: 1;
}
