body{
  margin: 0px;
  width: 100vw;
}

.literally.toolbar-at-top{
  height: 100%;
}

.lc-picker{
  position: fixed;
}

.lc-options.horz-toolbar{
  position: fixed;
}

#defaultCanvas0{
  position: absolute;
  top: 120px;
  left: 200px;
  border: 1px solid grey;
}

.qs_main{
  z-index: 9 !important;
  left: 87px;
  top: 489px;
}

#options > *{
  display: inline-block;
}

#options{
  position: fixed;
  z-index: 1;
  top: 1px;
  right: 20px;
}
